/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #737A80; }
.My-Color-Theme-2-hex { color: #99D3FF; }
.My-Color-Theme-3-hex { color: #E6F4FF; }
.My-Color-Theme-4-hex { color: #416785; }
.My-Color-Theme-5-hex { color: #B8C3CC; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(115, 122, 128, 1); }
.My-Color-Theme-2-rgba { color: rgba(153, 211, 255, 1); }
.My-Color-Theme-3-rgba { color: rgba(230, 244, 255, 1); }
.My-Color-Theme-4-rgba { color: rgba(65, 103, 133, 1); }
.My-Color-Theme-5-rgba { color: rgba(184, 195, 204, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(207, 5, 47, 1); }
.My-Color-Theme-2-hsla { color: hsla(205, 100, 80, 1); }
.My-Color-Theme-3-hsla { color: hsla(206, 100, 95, 1); }
.My-Color-Theme-4-hsla { color: hsla(206, 34, 38, 1); }
.My-Color-Theme-5-hsla { color: hsla(207, 16, 76, 1); }


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color:#E6F4FF;
}

/* Fonts ____________________________________________ */

header, h1, h2, h3 {
    font-family: 'Days One', sans-serif;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px; /* 16px-20px paragraph text */
    line-height: 25.5px; /* 120-150% of font-size */
    text-align: left;
}

nav, a {
    font-family: 'Kanit', sans-serif;
}

/* Navbar ____________________________________________ */

nav {
    position: fixed;
    width: 100%;
    top: 0;
}

/* Navbar (top bar) ____________________________________________ */

.top-bar {
    background-color: #416785;
    min-height: 7vh;
    overflow: hidden;
    width: 100%;
}

#JK {
    position: absolute;
    font-size: 2.2em;
    margin-top: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 20%;
    left: 50%;
    margin-left: -10%;
    text-decoration: none;
}


#JK:hover {
    text-decoration: underline;
}

.burgericon {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 18px;
    top: 7px;
    cursor: pointer;
    border: 1px solid rgb(230, 244, 255, 0.8);
    padding: 6px 6px 7px;
    border-radius: 2px;
    width: 43px;
}

.burger-line {
    width: 23px;
    height: 2px;
    background-color: white;
    margin: 2px 0px;
    transition: 0.3s;
    border-radius: 1px;
}

.change .burger-line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 4px);
    transform: rotate(-45deg) translate(-6px, 4px);
}
  
.change .burger-line2 {opacity: 0;}

.change .burger-line3 {
-webkit-transform: rotate(45deg) translate(-4px, -3px);
transform: rotate(45deg) translate(-4px, -3px);
}

#aboutMeClick:hover{
    color: beige;
}

/* Navbar (bottom bar) ____________________________________________ */

#navLinks {
    min-height: 5vh;
    background-color:#737A80;
    overflow: hidden;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 14px; 
    text-align: center;
}

nav li {
    position: relative;
    right: 3vh;
    font-size: 16px; /* navigation links 12-16px */
}

nav a {
    font-size: 16px;
}

#navLinks a:link {
    text-decoration: none;
    color: white;
}

#navLinks a:visited {
    color: white;
}

#navLinks a:hover {
    color: #99D3FF;
}


/* Main ____________________________________________ */

main {
    text-align: center;
}

/* Header ____________________________________________ */

header {
    padding: 12vh 25px 0vh;
} 

header > h1 {
    font-size: 3em;
}

header > img {
    width: 30%;
    min-width: 250px;
}


/* Sections Overall ____________________________________________ */

h2 {
    font-size: 1.9em;
}

section {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
}


/* About Me ____________________________________________ */

#aboutMe {
    padding-top: 13vh;
    padding-bottom: 5em;
}


/* My Projects ____________________________________________ */


#myProjects {
    padding-top: 13vh;
    padding-bottom: 5em;
    height: 100%;
    background-color: #99D3FF;
}

h3 {
    font-size: 1.3em;
}

.center-tags {
    text-align: center;
}

.span-underlined {
    text-decoration: underline;
}

.screenshots { /* images */
    height: 200px;
    width: 200px;
    cursor: pointer;
}

#screenshots-proj1:hover{
    border: 3px solid rgb(100, 9, 9);
}

#screenshots-proj2:hover{
    border: 3px solid rgb(181, 226, 240);
}

.projects {
    padding: 1em;
}

.projects > a { /* Live Link & Repo */
    display: block;
    margin: 15px 25px;
    font-size: 16px;
}

/* Contact Me ____________________________________________ */

#contactMe {
    padding-top: 13vh;
    padding-bottom: 5em;
    height: 100vh;
    background-color: #B8C3CC;
}

#contactMe > a {
    display: block;
    font-size: 17px;
    width: 70px;
    margin: 2.5em auto;
    padding: 0;
}

/* Footer ____________________________________________ */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-size: small;
}



